USE [master]
GO
/****** Object:  Database [Lesnichestvo]    Script Date: 28.09.2025 23:51:06 ******/
CREATE DATABASE [Lesnichestvo]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lesnichestvo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lesnichestvo]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[INN] [nvarchar](40) NOT NULL,
	[CompanyType] [nvarchar](40) NULL,
	[ContractDate] [datetime2](7) NULL,
	[Status] [nvarchar](40) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dachas]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dachas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NetworkID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Dachas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspections](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuartalNetworkID] [int] NOT NULL,
	[WorkID] [int] NOT NULL,
 CONSTRAINT [PK_Inspections] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](40) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mapping]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XCoord] [float] NOT NULL,
	[YCoord] [float] NOT NULL,
	[Order] [int] NOT NULL,
	[Description] [nvarchar](40) NULL,
	[NetworkID] [int] NULL,
	[DachaID] [int] NULL,
 CONSTRAINT [PK_Mapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[CertificateCode] [nvarchar](50) NULL,
	[IssuedBy] [nvarchar](50) NOT NULL,
	[WorkerID] [int] NOT NULL,
 CONSTRAINT [PK_Qualifications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuartalNetworks]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuartalNetworks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Importance] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuartalNetworks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InspectionID] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[TakenMeasures] [nvarchar](max) NOT NULL,
	[Conclusion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldWood]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldWood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DachaID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[WoodTypeID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_UnsoldWood] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnsoldWood]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnsoldWood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DachaID] [int] NOT NULL,
	[WoodTypeID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SoldWood] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WoodTypes]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WoodTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_WoodTypes_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[BirthDate] [datetime2](7) NOT NULL,
	[Payment] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHasInventory]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHasInventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WorkID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
 CONSTRAINT [PK_WorkHasInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHasWorkers]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHasWorkers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WorkID] [int] NOT NULL,
	[WorkerID] [int] NOT NULL,
 CONSTRAINT [PK_WorkHasWorkers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[HoursSpent] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[PreviousWorkID] [int] NULL,
 CONSTRAINT [PK_Works] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTypes]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Description] [nvarchar](40) NULL,
 CONSTRAINT [PK_WorkTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [Name], [INN], [CompanyType], [ContractDate], [Status]) VALUES (1, N'ООО "ЛесТорг"', N'7701234567', N'ООО', CAST(N'2023-03-15T00:00:00.0000000' AS DateTime2), N'Активный')
INSERT [dbo].[Customers] ([ID], [Name], [INN], [CompanyType], [ContractDate], [Status]) VALUES (2, N'АО "Зелёный мир"', N'7812345678', N'АО', CAST(N'2022-11-02T00:00:00.0000000' AS DateTime2), N'Активный')
INSERT [dbo].[Customers] ([ID], [Name], [INN], [CompanyType], [ContractDate], [Status]) VALUES (3, N'ИП Иванов П.П.', N'5009876542', N'ИП', CAST(N'2024-05-20T00:00:00.0000000' AS DateTime2), N'В ожидании')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Dachas] ON 

INSERT [dbo].[Dachas] ([ID], [NetworkID], [Description]) VALUES (1, 1, N'Дача северная часть "Первого леса"')
INSERT [dbo].[Dachas] ([ID], [NetworkID], [Description]) VALUES (2, 1, N'Дача южная часть "Первого леса"')
INSERT [dbo].[Dachas] ([ID], [NetworkID], [Description]) VALUES (3, 1, N'Дача центральная зона "Первого леса"')
SET IDENTITY_INSERT [dbo].[Dachas] OFF
GO
SET IDENTITY_INSERT [dbo].[Inspections] ON 

INSERT [dbo].[Inspections] ([ID], [QuartalNetworkID], [WorkID]) VALUES (2, 1, 19)
INSERT [dbo].[Inspections] ([ID], [QuartalNetworkID], [WorkID]) VALUES (3, 2, 19)
INSERT [dbo].[Inspections] ([ID], [QuartalNetworkID], [WorkID]) VALUES (4, 3, 20)
SET IDENTITY_INSERT [dbo].[Inspections] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([ID], [Name], [Price], [Status]) VALUES (1, N'УАЗ 1010', CAST(1000000.00 AS Decimal(18, 2)), N'Работает')
INSERT [dbo].[Inventory] ([ID], [Name], [Price], [Status]) VALUES (4, N'Топор №1', CAST(2000.00 AS Decimal(18, 2)), N'Работает')
INSERT [dbo].[Inventory] ([ID], [Name], [Price], [Status]) VALUES (5, N'Топор №2', CAST(2000.00 AS Decimal(18, 2)), N'Работает')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Mapping] ON 

INSERT [dbo].[Mapping] ([ID], [XCoord], [YCoord], [Order], [Description], [NetworkID], [DachaID]) VALUES (1, 10, 10, 1, N'', 1, NULL)
INSERT [dbo].[Mapping] ([ID], [XCoord], [YCoord], [Order], [Description], [NetworkID], [DachaID]) VALUES (2, 20, 10, 2, N'', 1, NULL)
INSERT [dbo].[Mapping] ([ID], [XCoord], [YCoord], [Order], [Description], [NetworkID], [DachaID]) VALUES (3, 20, 20, 3, N'', 1, NULL)
SET IDENTITY_INSERT [dbo].[Mapping] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([ID], [Type], [IssueDate], [CertificateCode], [IssuedBy], [WorkerID]) VALUES (2, N'Высшее', CAST(N'2022-03-06T00:00:00.0000000' AS DateTime2), N'123123', N'УлГТУ', 1)
INSERT [dbo].[Qualifications] ([ID], [Type], [IssueDate], [CertificateCode], [IssuedBy], [WorkerID]) VALUES (3, N'СПО', CAST(N'2020-03-05T00:00:00.0000000' AS DateTime2), N'421412', N'Электромех', 2)
INSERT [dbo].[Qualifications] ([ID], [Type], [IssueDate], [CertificateCode], [IssuedBy], [WorkerID]) VALUES (4, N'СПО', CAST(N'2020-03-04T00:00:00.0000000' AS DateTime2), N'421421', N'Электромех', 3)
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
GO
SET IDENTITY_INSERT [dbo].[QuartalNetworks] ON 

INSERT [dbo].[QuartalNetworks] ([ID], [Name], [Importance], [Description]) VALUES (1, N'Защитный лес "Первый"', N'1', N'Сосновые засеки на севере')
INSERT [dbo].[QuartalNetworks] ([ID], [Name], [Importance], [Description]) VALUES (2, N'Эксплуатационный лес северный', N'2', N'Сосны')
INSERT [dbo].[QuartalNetworks] ([ID], [Name], [Importance], [Description]) VALUES (3, N'Эксплуатационный лес западный', N'2', N'Березовый лес')
SET IDENTITY_INSERT [dbo].[QuartalNetworks] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ID], [InspectionID], [Body], [TakenMeasures], [Conclusion]) VALUES (2, 2, N'Проведён осмотр квартала №1. Обнаружены поваленные деревья и захламлённость просеки.', N'Удалены поваленные деревья, проведена очистка просеки от мусора.', N'Состояние участка удовлетворительное, требуется плановый осмотр через 6 месяцев.')
INSERT [dbo].[Reports] ([ID], [InspectionID], [Body], [TakenMeasures], [Conclusion]) VALUES (3, 3, N'Осмотр квартала №3. Выявлены следы незаконной вырубки на площади около 0,2 га.', N'Информация передана в лесную охрану, участок взят под наблюдение.', N'Необходимо усилить патрулирование и провести повторную проверку через 3 месяца.')
INSERT [dbo].[Reports] ([ID], [InspectionID], [Body], [TakenMeasures], [Conclusion]) VALUES (4, 4, N'Проверка квартала №3. Состояние насаждений хорошее, вредителей не обнаружено.', N'Проведена профилактическая обработка от короеда.', N'Участок в норме, следующий осмотр по графику.')
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[SoldWood] ON 

INSERT [dbo].[SoldWood] ([ID], [DachaID], [CustomerID], [WoodTypeID], [Quantity]) VALUES (1, 1, 1, 1, 40)
INSERT [dbo].[SoldWood] ([ID], [DachaID], [CustomerID], [WoodTypeID], [Quantity]) VALUES (2, 2, 2, 2, 50)
INSERT [dbo].[SoldWood] ([ID], [DachaID], [CustomerID], [WoodTypeID], [Quantity]) VALUES (3, 3, 3, 3, 30)
SET IDENTITY_INSERT [dbo].[SoldWood] OFF
GO
SET IDENTITY_INSERT [dbo].[UnsoldWood] ON 

INSERT [dbo].[UnsoldWood] ([ID], [DachaID], [WoodTypeID], [Quantity]) VALUES (1, 1, 1, 80)
INSERT [dbo].[UnsoldWood] ([ID], [DachaID], [WoodTypeID], [Quantity]) VALUES (2, 2, 2, 95)
INSERT [dbo].[UnsoldWood] ([ID], [DachaID], [WoodTypeID], [Quantity]) VALUES (3, 3, 3, 70)
SET IDENTITY_INSERT [dbo].[UnsoldWood] OFF
GO
INSERT [dbo].[Users] ([ID], [Login], [Password], [Type]) VALUES (1, N'Test1', N'das', N'Guest')
INSERT [dbo].[Users] ([ID], [Login], [Password], [Type]) VALUES (2, N'Test12', N's', N'Guest')
INSERT [dbo].[Users] ([ID], [Login], [Password], [Type]) VALUES (3, N'Egor', N'70178a609a4bb27acf94ae6b6d9c823b05353fae', N'Admin')
GO
SET IDENTITY_INSERT [dbo].[WoodTypes] ON 

INSERT [dbo].[WoodTypes] ([ID], [Name]) VALUES (1, N'Сосна')
INSERT [dbo].[WoodTypes] ([ID], [Name]) VALUES (2, N'Ель')
INSERT [dbo].[WoodTypes] ([ID], [Name]) VALUES (3, N'Берёза')
SET IDENTITY_INSERT [dbo].[WoodTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([ID], [Name], [Surname], [Patronymic], [Role], [IssueDate], [BirthDate], [Payment], [Status]) VALUES (1, N'Егор', N'Безбородов', N'Юрьевич', N'Директор', CAST(N'2022-03-06T00:00:00.0000000' AS DateTime2), CAST(N'2003-03-06T00:00:00.0000000' AS DateTime2), CAST(600000.00 AS Decimal(18, 2)), N'Работает')
INSERT [dbo].[Workers] ([ID], [Name], [Surname], [Patronymic], [Role], [IssueDate], [BirthDate], [Payment], [Status]) VALUES (2, N'Андрей', N'Белогаров', N'Андреевич', N'Лесник', CAST(N'2022-03-06T00:00:00.0000000' AS DateTime2), CAST(N'2001-01-02T00:00:00.0000000' AS DateTime2), CAST(60000.00 AS Decimal(18, 2)), N'Работает')
INSERT [dbo].[Workers] ([ID], [Name], [Surname], [Patronymic], [Role], [IssueDate], [BirthDate], [Payment], [Status]) VALUES (3, N'Татьяна ', N'Белая', N'Григорьевна', N'Бухгалтер', CAST(N'2021-04-12T00:00:00.0000000' AS DateTime2), CAST(N'1992-01-03T00:00:00.0000000' AS DateTime2), CAST(100000.00 AS Decimal(18, 2)), N'Работает')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkHasInventory] ON 

INSERT [dbo].[WorkHasInventory] ([ID], [WorkID], [ItemID]) VALUES (1, 5, 1)
INSERT [dbo].[WorkHasInventory] ([ID], [WorkID], [ItemID]) VALUES (2, 5, 10)
INSERT [dbo].[WorkHasInventory] ([ID], [WorkID], [ItemID]) VALUES (3, 8, 1)
SET IDENTITY_INSERT [dbo].[WorkHasInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkHasWorkers] ON 

INSERT [dbo].[WorkHasWorkers] ([ID], [WorkID], [WorkerID]) VALUES (1, 5, 2)
INSERT [dbo].[WorkHasWorkers] ([ID], [WorkID], [WorkerID]) VALUES (2, 5, 6)
INSERT [dbo].[WorkHasWorkers] ([ID], [WorkID], [WorkerID]) VALUES (3, 8, 2)
SET IDENTITY_INSERT [dbo].[WorkHasWorkers] OFF
GO
SET IDENTITY_INSERT [dbo].[Works] ON 

INSERT [dbo].[Works] ([ID], [Date], [HoursSpent], [TypeID], [PreviousWorkID]) VALUES (5, CAST(N'2025-04-04T00:00:00.0000000' AS DateTime2), 8, 2, NULL)
INSERT [dbo].[Works] ([ID], [Date], [HoursSpent], [TypeID], [PreviousWorkID]) VALUES (8, CAST(N'2025-04-05T00:00:00.0000000' AS DateTime2), 8, 2, 5)
INSERT [dbo].[Works] ([ID], [Date], [HoursSpent], [TypeID], [PreviousWorkID]) VALUES (9, CAST(N'2025-04-06T00:00:00.0000000' AS DateTime2), 8, 3, 8)
SET IDENTITY_INSERT [dbo].[Works] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkTypes] ON 

INSERT [dbo].[WorkTypes] ([ID], [Name], [Description]) VALUES (2, N'Осмотр', N'Осмотр состояния участка')
INSERT [dbo].[WorkTypes] ([ID], [Name], [Description]) VALUES (3, N'Рубка', N'Вырубка леса')
INSERT [dbo].[WorkTypes] ([ID], [Name], [Description]) VALUES (4, N'Поисковая миссия', N'Если кто-то потерялся')
SET IDENTITY_INSERT [dbo].[WorkTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Customers] ON [dbo].[Customers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dachas_NetworkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Dachas_NetworkID] ON [dbo].[Dachas]
(
	[NetworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inspections_QuartalNetworkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Inspections_QuartalNetworkID] ON [dbo].[Inspections]
(
	[QuartalNetworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inspections_WorkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Inspections_WorkID] ON [dbo].[Inspections]
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mapping_DachaID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Mapping_DachaID] ON [dbo].[Mapping]
(
	[DachaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mapping_NetworkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Mapping_NetworkID] ON [dbo].[Mapping]
(
	[NetworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Qualifications_WorkerID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Qualifications_WorkerID] ON [dbo].[Qualifications]
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_InspectionID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Reports_InspectionID] ON [dbo].[Reports]
(
	[InspectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 28.09.2025 23:51:06 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkHasInventory_ItemID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_WorkHasInventory_ItemID] ON [dbo].[WorkHasInventory]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkHasInventory_WorkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_WorkHasInventory_WorkID] ON [dbo].[WorkHasInventory]
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkHasWorkers_WorkerID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_WorkHasWorkers_WorkerID] ON [dbo].[WorkHasWorkers]
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkHasWorkers_WorkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_WorkHasWorkers_WorkID] ON [dbo].[WorkHasWorkers]
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Works_PreviousWorkID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Works_PreviousWorkID] ON [dbo].[Works]
(
	[PreviousWorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Works_TypeID]    Script Date: 28.09.2025 23:51:06 ******/
CREATE NONCLUSTERED INDEX [IX_Works_TypeID] ON [dbo].[Works]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Name]  DEFAULT (N'Новый заказчик') FOR [Name]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_INN]  DEFAULT (N'Неизвестный') FOR [INN]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Type]  DEFAULT (N'Guest') FOR [Type]
GO
ALTER TABLE [dbo].[Dachas]  WITH CHECK ADD  CONSTRAINT [FK_Dachas_QuartalNetworks_NetworkID] FOREIGN KEY([NetworkID])
REFERENCES [dbo].[QuartalNetworks] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dachas] CHECK CONSTRAINT [FK_Dachas_QuartalNetworks_NetworkID]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_Inspections_QuartalNetworks_QuartalNetworkID] FOREIGN KEY([QuartalNetworkID])
REFERENCES [dbo].[QuartalNetworks] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_Inspections_QuartalNetworks_QuartalNetworkID]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_Inspections_Works_WorkID] FOREIGN KEY([WorkID])
REFERENCES [dbo].[Works] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_Inspections_Works_WorkID]
GO
ALTER TABLE [dbo].[Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Mapping_Dachas_DachaID] FOREIGN KEY([DachaID])
REFERENCES [dbo].[Dachas] ([ID])
GO
ALTER TABLE [dbo].[Mapping] CHECK CONSTRAINT [FK_Mapping_Dachas_DachaID]
GO
ALTER TABLE [dbo].[Mapping]  WITH CHECK ADD  CONSTRAINT [FK_Mapping_QuartalNetworks_NetworkID] FOREIGN KEY([NetworkID])
REFERENCES [dbo].[QuartalNetworks] ([ID])
GO
ALTER TABLE [dbo].[Mapping] CHECK CONSTRAINT [FK_Mapping_QuartalNetworks_NetworkID]
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD  CONSTRAINT [FK_Qualifications_Workers_WorkerID] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Workers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qualifications] CHECK CONSTRAINT [FK_Qualifications_Workers_WorkerID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Inspections_InspectionID] FOREIGN KEY([InspectionID])
REFERENCES [dbo].[Inspections] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Inspections_InspectionID]
GO
ALTER TABLE [dbo].[SoldWood]  WITH CHECK ADD  CONSTRAINT [FK_SoldWood_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[SoldWood] CHECK CONSTRAINT [FK_SoldWood_Customers]
GO
ALTER TABLE [dbo].[SoldWood]  WITH CHECK ADD  CONSTRAINT [FK_SoldWood_Dachas] FOREIGN KEY([DachaID])
REFERENCES [dbo].[Dachas] ([ID])
GO
ALTER TABLE [dbo].[SoldWood] CHECK CONSTRAINT [FK_SoldWood_Dachas]
GO
ALTER TABLE [dbo].[SoldWood]  WITH CHECK ADD  CONSTRAINT [FK_SoldWood_WoodTypes] FOREIGN KEY([WoodTypeID])
REFERENCES [dbo].[WoodTypes] ([ID])
GO
ALTER TABLE [dbo].[SoldWood] CHECK CONSTRAINT [FK_SoldWood_WoodTypes]
GO
ALTER TABLE [dbo].[UnsoldWood]  WITH CHECK ADD  CONSTRAINT [FK_UnsoldWood_Dachas] FOREIGN KEY([DachaID])
REFERENCES [dbo].[Dachas] ([ID])
GO
ALTER TABLE [dbo].[UnsoldWood] CHECK CONSTRAINT [FK_UnsoldWood_Dachas]
GO
ALTER TABLE [dbo].[UnsoldWood]  WITH CHECK ADD  CONSTRAINT [FK_UnsoldWood_WoodTypes] FOREIGN KEY([WoodTypeID])
REFERENCES [dbo].[WoodTypes] ([ID])
GO
ALTER TABLE [dbo].[UnsoldWood] CHECK CONSTRAINT [FK_UnsoldWood_WoodTypes]
GO
ALTER TABLE [dbo].[WoodTypes]  WITH CHECK ADD  CONSTRAINT [FK_WoodTypes_WoodTypes] FOREIGN KEY([ID])
REFERENCES [dbo].[WoodTypes] ([ID])
GO
ALTER TABLE [dbo].[WoodTypes] CHECK CONSTRAINT [FK_WoodTypes_WoodTypes]
GO
ALTER TABLE [dbo].[WorkHasInventory]  WITH CHECK ADD  CONSTRAINT [FK_WorkHasInventory_Inventory_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Inventory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHasInventory] CHECK CONSTRAINT [FK_WorkHasInventory_Inventory_ItemID]
GO
ALTER TABLE [dbo].[WorkHasInventory]  WITH CHECK ADD  CONSTRAINT [FK_WorkHasInventory_Works_WorkID] FOREIGN KEY([WorkID])
REFERENCES [dbo].[Works] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHasInventory] CHECK CONSTRAINT [FK_WorkHasInventory_Works_WorkID]
GO
ALTER TABLE [dbo].[WorkHasWorkers]  WITH CHECK ADD  CONSTRAINT [FK_WorkHasWorkers_Workers_WorkerID] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Workers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHasWorkers] CHECK CONSTRAINT [FK_WorkHasWorkers_Workers_WorkerID]
GO
ALTER TABLE [dbo].[WorkHasWorkers]  WITH CHECK ADD  CONSTRAINT [FK_WorkHasWorkers_Works_WorkID] FOREIGN KEY([WorkID])
REFERENCES [dbo].[Works] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHasWorkers] CHECK CONSTRAINT [FK_WorkHasWorkers_Works_WorkID]
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD  CONSTRAINT [FK_Works_Works_PreviousWorkID] FOREIGN KEY([PreviousWorkID])
REFERENCES [dbo].[Works] ([ID])
GO
ALTER TABLE [dbo].[Works] CHECK CONSTRAINT [FK_Works_Works_PreviousWorkID]
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD  CONSTRAINT [FK_Works_WorkTypes_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[WorkTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Works] CHECK CONSTRAINT [FK_Works_WorkTypes_TypeID]
GO
/****** Object:  StoredProcedure [dbo].[FindByName]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindByName]
    @name NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @pattern NVARCHAR(260) = '%' + @name + '%';

    SELECT 
        ID,
        Name,
        'Name' AS FieldName,
        'Customers' AS TableName
    FROM Customers
    WHERE Name LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        Description AS Name,
        'Description' AS FieldName,
        'Dacha' AS TableName
    FROM Dachas
    WHERE Description LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        Name,
        'Name' AS FieldName,
        'QuartalNetworks' AS TableName
    FROM QuartalNetworks
    WHERE Description LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        Name,
        'Name' AS FieldName,
        'Inventory' AS TableName
    FROM Inventory
    WHERE Name LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        Name,
        'Name' AS FieldName,
        'WoodTypes' AS TableName
    FROM WoodTypes
    WHERE Name LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        Name,
        'Name' AS FieldName,
        'WorkTypes' AS TableName
    FROM WorkTypes
    WHERE Name LIKE @pattern

    UNION ALL

    SELECT 
        ID,
        (ISNULL(Name, '') + ' ' + ISNULL(Surname, '') + ' ' + ISNULL(Patronymic, '')) AS Name,
        'FIO' AS FieldName,
        'Workers' AS TableName
    FROM Workers
    WHERE Name LIKE @pattern
       OR Surname LIKE @pattern
       OR Patronymic LIKE @pattern
END
GO
/****** Object:  StoredProcedure [dbo].[GetWorkerMonthlyDetailsFull]    Script Date: 28.09.2025 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWorkerMonthlyDetailsFull]
    @WorkerID INT,
    @StartDate DATE = NULL, -- Необязательный параметр, от куда смотрим
    @EndDate DATE = NULL -- Необязательный параметр, до куда смотрим
AS
BEGIN
    -- Хранимая процедура для детализации работы Работников
    -- по параметру ID работника выводит его ID, сколько часов он отработал в каждый месяц, 
    -- сколько работ за месяц выполнил, сколько его текущая зарплата, 
    -- и рассчитывает делением рабочих часов на часы в месяц (160 в месяц), сколько его зарплата за каждый месяц
    SELECT 
        w.ID AS WorkerID, -- Выбранный ID работника
        CONCAT(w.Surname, ' ', w.Name, ' ', ISNULL(w.Patronymic, '')) AS FullName, -- Приводим к удобному ФИО
        w.Role, -- Выводим роль
        FORMAT(wo.Date, 'yyyy-MM') AS YearMonth, -- Делаем группы по месяцам
        SUM(wo.HoursSpent) AS TotalHours, -- Суммируем по группам кол-во потраченных часов
        COUNT(DISTINCT wo.ID) AS WorksCount, -- Подсчитываем кол-во выполненных работ
        w.Payment AS CurrentPayment, -- Выводим ЗП сотрудника
        -- Производим рассчёт ЗП за месяц, всё это в виде Decimal
        CAST(SUM(wo.HoursSpent) / 160.0 * w.Payment AS DECIMAL(18,2)) AS MonthlyCalculatedPayment
    -- Соединяем все таблицы
    FROM Workers w
    INNER JOIN WorkHasWorkers whw ON w.ID = whw.WorkerID
    INNER JOIN Works wo ON whw.WorkID = wo.ID
    WHERE w.ID = @WorkerID
        -- Фильтруем по датам (если есть)
        AND (@StartDate IS NULL OR wo.Date >= @StartDate)
        AND (@EndDate IS NULL OR wo.Date <= @EndDate)
    GROUP BY w.ID, w.Surname, w.Name, w.Patronymic, w.Role, FORMAT(wo.Date, 'yyyy-MM'), w.Payment
    ORDER BY YearMonth;
END
GO
USE [master]
GO
