@{
    ViewData["Title"] = "Home Page";
}

<div class="center_element">
    <h1>Доброго вам @DateTime.Now.ToShortTimeString(), @Accessor.HttpContext?.User?.Identity?.Name!</h1>
    <div>Вас приветствует Система "Курсовая работа по теме Лесничество"</div>
    <div>
        Будьте добры, выбрать одну из возможных сущностей
        <ul>
            <li><a asp-area="Entities" asp-controller="Customer" asp-action="Index">Заказчики</a></li>
            <li><a asp-area="Entities" asp-controller="Dacha" asp-action="Index">Лесные дачи</a></li>
            <li><a asp-area="Entities" asp-controller="Inspection" asp-action="Index">Осмотры</a></li>
            <li><a asp-area="Entities" asp-controller="Item" asp-action="Index">Инвентарь</a></li>
            <li><a asp-area="Entities" asp-controller="Mapping" asp-action="Index">Карта</a></li>
            <li><a asp-area="Entities" asp-controller="Qualification" asp-action="Index">Квалификации</a></li>
            <li><a asp-area="Entities" asp-controller="QuartalNetwork" asp-action="Index">Квартальные сети</a></li>
            <li><a asp-area="Entities" asp-controller="Report" asp-action="Index">Отчёты</a></li>
            <li><a asp-area="Entities" asp-controller="SoldWood" asp-action="Index">Проданная древесина</a></li>
            <li><a asp-area="Entities" asp-controller="UnsoldWood" asp-action="Index">Ещё не проданные деревья</a></li>
            <li><a asp-area="Entities" asp-controller="WoodType" asp-action="Index">Типы деревьев</a></li>
            <li><a asp-area="Entities" asp-controller="Work" asp-action="Index">Работы</a></li>
            <li><a asp-area="Entities" asp-controller="Worker" asp-action="Index">Работники</a></li>
            <li><a asp-area="Entities" asp-controller="WorkType" asp-action="Index">Типы работы</a></li>
            <li><a asp-area="Entities" asp-controller="WorkHasWorkers" asp-action="Index">Связь N:M работ и работников</a></li>
            <li><a asp-area="Entities" asp-controller="WorkHasInventory" asp-action="Index">Связь N:M работ и инвентаря</a></li>
        </ul>
    </div>
    <div>
        <h4>Поиск и хранимые процедуры</h4>
        <ul>
            <li>Глобальный поиск по имени</li>
            <li>Детализация работы работников</li>
        </ul>
    </div>
    <div>
        <h4>Настройки Системы</h4>
        <ul>
            <li>@Html.ActionLink("Выйти из аккаунта", "Logout", "Authentification")</li>
        </ul>
    </div>
</div>

